node_modules/
frontend/node_modules/

venv/
.venv/
__pycache__/
*.pyc

.env

*.pt
*.pth
*.onnx
*.engine

*.mp4
*.avi
*.mkv

dist/
build/
yolo/backend/venv/
__pycache__/
*.pyc
yolo/backend/media/
*.log
